@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@govbr-ds/core/dist/core.min.css";
@import "tailwindcss";

:root {
  --background: #f7f9ff;
  --foreground: #181c20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Public Sans", var(--font-raleway), ui-sans-serif, system-ui, sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
